@model IEnumerable<VideoUploadMvc5.Models.tblFile>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm("Index", "MVideo", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="postedFile" />
        <input type="submit" id="btnUpload" value="Upload" />
    }
    <hr />
    <table cellpadding="0" cellspacing="0">
        @if (Model.Count() > 0)
        {
            foreach (var file in Model)
            {
                <tr>
                    <td>
                        <u>
                            @file.Name
                        </u>
                        <hr />
                        <video id="VideoPlayer" src='@Url.Action("DownloadFile", "MVideo", new {fileId = file.id})' controls="true"
                               width="400" height="350" loop="true" />
                    </td>
                </tr>
            }
        }
    </table>
</body>
</html>